footer
    .footer-wrapper
        .footer-wraper__contact
            h3 Контакты <br><br>
            p Любой товар с данного сайта может быть доставлен в ваш регион. Самовывоз со склада возможен только в г. Ярославль.<br><br>
            span +7 (800) 302-93-50 <br> +7 (910) 970-05-00
        .footer-wraper__dop
            p Дополнительно
            ul 
                li Товары со скидкой
                li Возврат товаров
                li О компании
                li Политика конфиденциальности
        .footer-wraper__info
            p Информация
            ul 
                li Каталог товаров 
                li Доставка и оплата 
                li Как сделать заказ?
        .footer-wraper__personal
            p Личный Кабинет    
            ul 
                li Личный Кабинет
                li История заказов
                li Мои закладки
                li Рассылка новостей
