header
    .header-wrapper
        .header-wrapper__logo
            img(src=" ./img/image 1.svg", alt="")
        .header-wrapper__main-menu
            ul
                li 
                    a(href="") На главную 
                li 
                    a(href="") Каталог
                li 
                    a(href="") Новости
    .header-wrapper__banner