doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body
        include modules/header
        .main
            .sec__catalog
                .catalog__prod
                    img(src="./img/prod_1.png", alt="")
                    .prod-descr
                        p.prod__name НАБОР ИНГРЕДИЕНТОВ ДЛЯ СЛИВОЧНЫХ СЫРОВ - МРАМОРНЫЙ, СУСАНИНСКИЙ <br><br>
                        p.prod_price 1095 руб.
                .catalog__prod
                    img(src="./img/prod_2.png", alt="")
                    .prod-descr
                        p.prod__name НАБОР ИНГРЕДИЕНТОВ ДЛЯ СЫРА МААСДАМ И ДРУГИХ СЫРОВ С ГЛАЗКАМИ <br><br>
                        p.prod_price 1080 руб.
                .catalog__prod
                    img(src="./img/prod_3.png", alt="")
                    .prod-descr
                        p.prod__name НАБОР ИНГРЕДИЕНТОВ ДЛЯ ТВОРОГА - 2 РЕЦЕПТА <br><br>
                        p.prod_price 825 руб.
                .catalog__prod
                    img(src="./img/prod_4.png", alt="")
                    .prod-descr
                        p.prod__name НАБОР ИНГРЕДИЕНТОВ ДЛЯ ПАРМЕЗАНА <br><br>
                        p.prod_price 805 руб.
                .catalog__prod
                    img(src="./img/prod_5.png", alt="")
                    .prod-descr
                        p.prod__name НАБОР СПЕЦИЙ И ТРАВ, 6 ВИДОВ <br><br>
                        p.prod_price 970 руб.
                .catalog__prod
                    img(src="./img/prod_6.png", alt="")
                    .prod-descr
                        p.prod__name НАБОР ИНГРЕДИЕНТОВ ДЛЯ СЫРА ЧЕДДЕР И ДРУГИХ ТВЕРДЫХ СЫРОВ<br><br>
                        p.prod_price 950 руб.
            .sec_blogs
                img(src="./img/blog_1.png", alt="")
                img(src="./img/blog_2.png", alt="")
                img(src="./img/blog_3.png", alt="")
                img(src="./img/blog_4.png", alt="")
                img(src="./img/blog_5.png", alt="")
                img(src="./img/blog_6.png", alt="")

        include modules/footer