doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body
        include modules/header
        .main
            h1.sec__name История компании
            p.sec__block История компании ”СырноеСчастье” начинается ещё в 2017 году, когда компания только зарождалась, тогда Патрик Либруньан понял из своей любви к сыру, что хочет иметь собственный завод по его созданию, компанию и сайт. Тогда он начал искать тех кто поддержит его интересы, он находил, находил всё больше людей и собрал достаточно, чтобы наконец осуществить желаемое.<br>Так и зародилась наша компания, благодаря одной мечте одного прекрасного человека!
            hr.line
            .sec__delivery
                .delivry__eclipse
                    p Справочная информация
                .delivery__text
                    p Доставка по Москве <br><br>
                    p Габаритные и тяжелые заказы весом более 10 кг (такие как латексное покрытие, сыроварни, кастрюли больших объемов, поддоны и т.д.) могут быть доставлены сервисом Яндекс-доставка день-в-день (по предварительной договоренности).<br><br>
                    p Мы предлагаем Вам следующие варианты оплаты товара: 1. Оплата через электронную кассу при получении товара самовывозом - ДЛЯ МОСКВЫ 2. Предоплата онлайн на сайте - ДЛЯ ДОСТАВКИ В РЕГИОНЫ 3. Мы не отправляем товары наложенным платежом. 
            hr.line
            .sec__comments
                h1.sec__name Комментарии от наших клиентов
                .comment__item
                    p.buyer-name Валентина:
                    .comnt
                        p Спасибо за доставленный заказ! Всё быстро доставили,хорошо упакованно и все заказанные товары доставлены! Заказываю не впервые и очень довольна,благодарю весь коллектив “Сырного Счастья”
                    img(src="./img/rating.png", alt="").rating
                .comment__item
                    p.buyer-name Игорь:
                    .comnt
                        p Покрыла головку сыра, буду наблюдать
                    img(src="./img/rating_3.png", alt="").rating
                .comment__item
                    p.buyer-name Оксана:
                    .comnt
                        p Отличные формы
                    img(src="./img/rating.png", alt="").rating
            hr.line
            h1.sec__name.sec__name-left Полезная информация
            p.sec__block Добро пожаловать на сайт про домашнее сыроделие! Основная тематика нашего сайта – это приготовление сыра в домашних условиях. По сути, наш интернет-ресурс – это некий клуб по интересам, где вы всегда сможете найти для себя ценную и актуальную информацию, пообщаться с единомышленниками и профессионалами в области сыроделия, а также найти необходимые ингредиенты и оборудование.
            p.sec__block.sec__block-dop В общем — заходите, читайте, пробуйте… И у вас все обязательно получится! Если же будут вопросы – задавайте их в форуме или прямо под статьями. Мы обязательно поможем! Удачного вам сыроделия!
            hr.line
            h1.sec__name.sec__name-left Интересные новости
            .sec__news
                .news__item
                    img(src="./img/news-img_1.png", alt="")
                    p.news__name Рецепт камамбера в домашних условиях <br><br>
                    p.news__descr Легендарный сыр “камамбер” можно приготовить в домашних условиях! Как? Читайте наш пошаговый рецепт с комментариями практикующего сыродела.
                    button Прочитать подробнее
                .news__item
                    img(src="./img/news-img_2.png", alt="")
                    p.news__name Рецепт сыра Белпер Кнолле<br><br>
                    p.news__descr Очень вкусный немецкий твердый сыр весьма оригинального внешнего вида и с не менее экстравагантным вкусом. Готовится не очень сложно, поэтому подходит даже для новичков.
                    button Прочитать подробнее
                .news__item
                    img(src="./img/news-img_3.png", alt="")
                    p.news__name Сыропригодность молока <br><br>
                    p.news__descr Сыроделие начинается не с заквасок/ферментов, и даже не с рецепта… Оно начинается с правильного молока! Как определить, что молоко “правильное” – читайте в данной статье.
                    button Прочитать подробнее
        include modules/footer